.container {
    margin-top: 8%;
}
.profile-img {
    text-align: center;
}
.panel {
    text-align: center;
    height: 30em;
}
.img {
    width: auto;
    max-height: 100%;
}
.imgclass {
    background-size: auto 100%;
    background-repeat: no-repeat;
    background-position: center;
    min-height: 200px;
}