
body {
  min-height: 800px;
  color: white;
  background-image: url('https://d2v9y0dukr6mq2.cloudfront.net/video/thumbnail/PDaTSuJ/videoblocks-vj-light-event-concert-dance-music-videos-stage-party-abstract-led-neon-tunnel-background-loop_hcdco4o8m_thumbnail-full01.png');
  background-repeat: no-repeat;
}

.container {
    padding-top: 70px;
    margin: auto;
    text-align: center;
    font-size: 100%;
}

h1 {
  padding: 3%;
  font-size: 6em;
}

p {
  padding-top: 1%;
  font-size: 2em;
}
