<body>
  <div class = "container">
    <div class="row">
    <h1>
      ABOUT US
    </h1>
    <p>
      Event planner is a one-stop event planning solution.
      <br>
      Here, you can not only search for your events across multiple platforms,
      <br>
      but also create your own profile and add your favorite events to your list.
    </p>
  </div>
    <div class="row team">
      <h2>Meet The Team:</h2>
      <div class="col-sm-3">
        <h4>Harsh Patel</h4>
        <p>
          Senior<br>
          Computer Science<br>
        </p>
        <img src="assets/Harsh.jpg"/>
      </div>
      <div class="col-sm-3">
        <h4>Hanchong Jin</h4>
        <p>
          Junior<Br>
          Computer Engineering<br>
        </p>
        <img src="assets/Hanchong.jpg"/>
      </div>
      <div class="col-sm-3">
        <h4>Ellen Mak</h4>
        <p>
          Senior<Br>
          Computer Science<br>
        </p>
        <img src="assets/Ellen.jpg"/>
      </div>
      <div class="col-sm-3">
        <h4>Nate Ackermann</h4>
        <p>
          Senior<Br>
          Biomedical Engineering<br>
          </p>
        <img src="assets/Nate.jpg"/>
      </div>
    </div>
  </div>
</body>
