
body {
    min-height: 800px;
    color: white;
    background-image: url('https://d2v9y0dukr6mq2.cloudfront.net/video/thumbnail/PDaTSuJ/videoblocks-vj-light-event-concert-dance-music-videos-stage-party-abstract-led-neon-tunnel-background-loop_hcdco4o8m_thumbnail-full01.png');
    background-repeat: no-repeat;
}

.container {
    padding-top: 100px;
    text-align: center;   
}

.body {
    align-content: center;
    border: 3px solid #f1f1f1;
    width: 300pt;
    padding-bottom: 30px;
    padding-top: 30px;
}


.imgcontainer {
    padding: 13pt;
    border-radius: 50%;
}

.btn-primary {
    margin-left: 10px;
    margin-right: 10px;
}

.welcome {
    padding: 5% 1%;
}

button {
    margin: 7% 0;
}