
<body>
  <div class='container'>
    <div class='row'>
      <div *ngIf='loggedIn'>
        <div class="welcome">
          <h1>Welcome Back!</h1>
        </div>
        <img src="{{ user.photoUrl }}">
        <div>
          <h1>{{ user.name }}</h1>
          <h4>{{ user.email }}</h4>
        </div>
      </div>
    </div>
    <div class="row">
      <h1 *ngIf="!LoggedIn">Login to EventPlanner</h1>
    </div>
    <div class="row">
      <button type="button" class="btn btn-success btn-lg" (click)="signInWithGoogle()" *ngIf="!loggedIn">Google Login</button>
    </div>
    <div class="row">
      <button type="button" class="btn btn-primary btn-lg" (click)="signInWithFB()" *ngIf="!loggedIn">Facebook Login</button>
    </div>
    <button class="btn btn-primary btn-lg" (click)="signOut()" *ngIf="loggedIn">Log Out</button>
  </div>
</body>