* {
	box-sizing: border-box;
}
body {
    padding-top: 70px;
    .jumbotron.text-center {
        padding: 1%;
        margin-left: 2%;
        margin-right: 2%;
    }
    margin: 1%;
    .resultBox {
        margin-top: 5%;
    }
    .panel {
        text-align: center;
        height: 30em;
    }
    .img {
        width: auto;
        max-height: 100%;
    }
    .imgclass {
        background-size: auto 100%;
        background-repeat: no-repeat;
        background-position: center;
        min-height: 200px;
    }
}
