* {
	box-sizing: border-box;
}
body {
    padding-top: 70px;
    .jumbotron.text-center {
        padding: 1%;
        margin-left: 2%;
        margin-right: 2%;
    }
    .searching {
        padding: 1%;
    }
    margin: 1%;
    .resultBox {
        margin-top: 5%;
    }
    .panel {
        text-align: center;
        height: 30em;
    }
    .img {
        width: auto;
        max-height: 100%;
    }
    .eventLink {
        font-size: 1.5em;
        font-weight: bold;
        display: inline-block;
        margin: 0 auto;
    }
    .eventLink :link{
        color:black;
    }
    .eventLink :hover {
        color: blue;
    }
    .eventLink :visited {
        color: purple;
    }
    .interestedButton {
        align-content: center;
    }
    .imgclass {
        background-size: auto 100%;
        background-repeat: no-repeat;
        background-position: center;
        min-height: 200px;
    }
    .detailWrapper {
        padding-top: 10px;
        text-align: center;
        vertical-align: baseline;
    .source {
        float: left;
    }



        .interestedButton {
            float: right;
        }
    }
}
