<head>
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
</head>




<body>

  <div class="heading">
    <div class="hello">

        <h1>EventPlanner</h1>
        <p>Much more than event search.</p>
    </div>

    <div class="container">
      <div class="searching">
        <form (ngSubmit)="onSubmit(f)" #f="ngForm" >
        <div class="row">
            <div class="col-sm-3" >
              <label> Location</label>
              <input class="w3-input w3-border" type="text" id="Location" ngModel name="location">
            </div>
            <div class="col-sm-1">
              <label>Range</label>
              <input class="w3-input w3-border" type="text" id="search_range" ngModel name="search_range">
            </div>
            <div class="col-sm-3">
              <label>Start Date</label>
              <input class="w3-input w3-border" type="date" id="StartDate" ngModel name="start_date">
            </div>
            <div class="col-sm-3">
              <label>End Date</label>
              <input class="w3-input w3-border" type="date" id="EndDate" ngModel name="end_date">
            </div>
            <div class="col-sm-2">
              <label><i class="fa fa-search"></i> Search</label>
                <button class="w3-button w3-block w3-black">
                  <span class="glyphicon glyphicon-search"></span> 
                  Search
                </button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>

  

    


    <div class="container">
        <div class="row resultBox" *ngIf="submitted">

            <h4>{{ location }} | {{ search_range }} miles | from {{ display_start_date }} to {{ display_end_date }}</h4>

            <div class="row">
            <div class="col-md-4 col-sm-2" *ngFor= "let EB_event of EB_events; let i = index">

              <div class="panel-group">
                <div class="panel panel-default">
                  <div class="hovereffect">
                    <img class="img-responsive" [src]="EB_event.img" alt=""> 
                    <div class="overlay">
                       <a class="info" href="{{EB_event.url}}" target="_blank"></a>
                    </div>
                    <h4>{{ EB_event.name }}</h4>
                    <p>{{ EB_event.date }}</p>
                    <div class="interestedButton"><button (click)="clickInterested(EB_event)">Interested</button></div>

                </div>

              </div>
              </div>
            </div>
          </div>


          





        <!---
        <div class="col-sm-6">
          <h4>EventBrite Events:</h4>



          <div class = "panel-group">
            <div class = "panel panel-default"  *ngFor="let EB_event of EB_events; let i = index">
                  <div class="panel-heading">
                    <h3>{{i+1}}. <a class="eventLink" href={{EB_event.url}} target="_blank">{{EB_event.name}}</a></h3>
                  </div>
              <div class = "panel-body">
                  <p>Date: {{ EB_event.date }}</p> 
                <p>{{ EB_event.description_text }}</p> 
                 <img [src]="EB_event.img" height="100em"/> 



                <div class="imgclass" [style.background-image]="'url(' + EB_event.img + ')'"></div>
                
                <br> 
                <div class="detailWrapper">
                  <div class="source"><p><label>{{ EB_event.website }}</label></p></div>
                  <div class="eventLink"><a href={{EB_event.url}} target="_blank">{{EB_event.name}}</a></div>
                 <div class="interestedButton"><button (click)="clickInterested(EB_event)">Interested</button></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      
        <div class="col-sm-6">
          <h4>TicketMaster Events:</h4>
          <div class = "panel-group">
            <div class = "panel panel-default" *ngFor="let TM_event of TM_events; let i = index">
              <div class = "panel-heading">
              <h3>{{i+1}}. {{ TM_event.name }}</h3></div>
              <div class = "panel-body">
              <p>Date: {{ TM_event.date }}</p> 
              <p>{{ TM_event.description_text }}</p>
              <img [src]="TM_event.img" height="100em"/>
              
              <div class="imgclass" [style.background-image]="'url(' + TM_event.img + ')'"></div>
              <div class="detailWrapper">
                <div class="source"><p><label>{{ TM_event.website }}</label></p></div>
                <div class="eventLink"><a href={{TM_event.url}} target="_blank">Event Link</a></div>
                <div class="interestedButton"><button (click)="clickInterested(TM_event)">Interested</button></div>
              </div> 
              <p>Source: <label>{{ TM_event.website }}</label></p>
              <a href={{TM_event.url}} target="_blank">Event Link</a> 
              <
            </div>
            </div>
          </div>
        
        </div> 
      -->
    </div>
  </div>

</body>