* {
	box-sizing: border-box;
}
body {
    .jumbotron.text-center {
        padding: 1%;
        margin-left: 5%;
        margin-right: 5%;
    }
    margin: 1%;
    .resultBox {
        margin-top: 5%;
    }
}