<!DOCTYPE htm>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
* {
	box-sizing: border-box;
}
header {
	background-color: #ff4c4c;
	padding: 2px;
	color: white;
}



</style>
</head>



<header>
<h1>EventPlanner</h1>
</header>

<body>


<form (ngSubmit)="onSubmit(f)" #f="ngForm">
  <div>
    <label for="location"> Location</label>
    <input
    type="text"
    id="Location"
    ngModel
    name="location"/>
  </div>

  <div>
    <label for="searh_range"> Search Range: within </label>
    <input type="text"
    id="SearchRange"
    ngModel
    name="search_range"/>
    miles
  </div>

  <div>
    <label for="start_date"> Start Date </label>
    <input type="text"
    id="StartDate"
    ngModel
    name="start_date"/>
    <p>(format: YYYY-MM-DD)</p>
  </div>


  <div>
    <label for="end_date"> End Date </label>
    <input type="text"
    id="EndDate"
    ngModel
    name="end_date"/>
    <p>(format: YYYY-MM-DD)</p>
  </div>

  <button type="submit"> Submit </button>
</form>


<hr>
<div *ngIf="submitted">
<h4>You have entered this:</h4>
<p>Location: {{ location }}</p>
<p>Search Range: {{ search_range }} miles</p>
<p>Start Date: {{ display_start_date }}</p>
<p>End Date: {{ display_end_date }}</p>

<hr>
<div>
  <h4>Events:</h4>
  <ul>
    <li *ngFor="let event of events; let i = index">
      <h3>{{i+1}} {{ event.name.text }}</h3>
      <p>{{ event.description_text }}</p>
        <a href={{event.url}} target="_blank">Event Link</a>
    </li>
  </ul>
</div>
</div>

</body>
</html>

<router-outlet></router-outlet>
