

.container {
    padding-top: 100px;
    text-align: center;   
}

.body {
    align-content: center;
    border: 3px solid #f1f1f1;
    width: 300pt;
    padding-bottom: 30px;
    padding-top: 30px;
}


.imgcontainer {
    padding: 13pt;
    border-radius: 50%;
}

.btn btn-primary {
    padding: 13pt;
}