
.container {
  padding-top: 70px;
  margin: auto;
  text-align: center;
  font-size: 100%;
}

h1 {
  padding-top: 2%;
  font-size: 12em;
}

h2 {
  font-size: 4em;
}
  
p {
  padding-top: 1%;
  font-size: 3em;
}

body {
  min-height: 800px;
  color: white;
  background-image: url('https://d2v9y0dukr6mq2.cloudfront.net/video/thumbnail/PDaTSuJ/videoblocks-vj-light-event-concert-dance-music-videos-stage-party-abstract-led-neon-tunnel-background-loop_hcdco4o8m_thumbnail-full01.png');
  background-repeat: no-repeat;
}