
<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="">EventPlanner</a>
      </div>
      <div class="collapse navbar-collapse" id="myNavbar">
        <ul class="nav navbar-nav">
          <li class="active"><a href="">Home</a></li>
          <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="profile" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                My Profile
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="profile">Events</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="profile">Calendar</a>
              </div>
          </li>
          <li><a href="about">About Us</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <!-- <li *ngIf="!isLoggedIn"><a href="login"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li> -->
          <li *ngIf="!isLoggedIn"><a href="login"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
          <li *ngIf="isLoggedIn"><a href="login"> Hello, {{ firstName }}</a></li>
        </ul>
      </div>
    </div>
  </nav>
  