.dropdown-menu {
    background-color: black;
    .dropdown-divider {
        min-height: 10px;
    }
    .dropdown-item {
        padding-left: 8%;
        color: white;
    }
}


.nav .current
{
    background-color:yellow;
    padding:2px 6px;
}
